<%# put stuff here %>
<div class="container">
  <h1 class="text-white cocktail-title fadein">Mister Cocktail</h1>
  <div class="create-new-div">
    <%= link_to 'Create new drink', new_cocktail_path, class: "btn btn-light new-drink-btn fadein" %>
  </div>
  <div class="row cocktails fadein">
    <% @cocktails.each do |cocktail| %>
    <div class="col-sm-12 col-md-6 col-lg-4 w-100">

      <div class="d-flex justify-content-center">
        <div class="cocktail rounded shadow">
          <h4 class="text-center m-2"><%= cocktail.name %></h4>
          <hr class="w-100">

          <h6 class="ml-2 mt-1">Ingredients:</h6>
          <ul>
            <% cocktail.ingredients.each do |ingredient|%>
            <li><%= ingredient.name %></li>
            <% end %>
          </ul>
          <%= link_to "View", cocktail_path(cocktail.id), class: "view-link" %>

        </div>

      </div>
    </div>
    <% end %>

  </div>
</div>