// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .index-container {
//   height: 100vh;
//   width: 100%;
// }

// .main-contents {
//   display: flex;
//   justify-content: center;
//   margin-top: 100px;
//   h1 {
//     animation: fadein 5s;
//   }
// }

.cocktail-title {
  text-align: center;
  margin: 6% 0 2% 0;
  font-size: 64px;
}
.fadein {
  animation: fadein 3s;
}

.cocktail {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 16px;
  height: 250px;
  background-color: white;
}

.cocktails {
  max-height: 75vh;
  overflow-y: scroll;
}

.create-new-div {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

hr {
  margin: 5px 0;
}

.view-link {
  width: 100%;
  margin-top: auto;
  padding: 10px 0;

  background-color: #484d51;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;

  &:hover {
    color: white;
    background-color: #27273c;
  }
}

.show-cocktail {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 16px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
